*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #d7e8ee; 
    /* background-size: cover;
    background-position: center;  */
    width: 100%;
    height: 100%;
}
#logo{
    position: relative;
    height: 65px;
    width: 140px;
    margin-left: 170px;
    padding: 3px 3px;
    font-size: 1.8rem;
    top: -290px;
    left: -70px;
}
.login-popup{
    position: relative;
    bottom: 345px;
    left: 1290px;
    width: 100px;
    height: 40px;
    background: transparent;
    border: 2px solid black;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    color: rgb(7, 7, 7);
    font-weight: 500;
    /* margin-left: 50px; */
    margin: 2px 15px;
    padding: 4px 5px;
}
.login-popup:hover{
    background-color: black;
    color: #d7e8ee;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -35px;
}

.container1{
    position: relative;
    left: 113px;
    top: 100px;
    padding: 15px 10px;
    margin: 2px 5px;
    margin-left: -150px;
    width: 530px;
    height: 150px;
    background: #d7e8ee;
    border: 2px solid black;
    border-radius: 10px;
    outline: none;
    font-size: 1em;
    color: black;
    font-weight: 500;
    font-size: 22px;
}
.container2{
    position: relative;
    right: 237px;
    top: 100px;
    padding: 15px 10px;
    margin: 2px 5px;
    margin-left: -150px;
    width: 530px;
    height: 150px;
    background: #d7e8ee;
    border: 2px solid black;
    border-radius: 10px;
    outline: none;
    font-size: 1em;
    color: black;
    font-weight: 500;
    font-size: 20px;
}
#sendBtn{
    position: relative;
    left: 250px;
    bottom: 40px;
    padding: 2px 3px;
    margin-left: -150px;
    width: 530px;
    height: 70px;
    background: #d7e8ee;
    border: 2px solid black;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    color: black;
    font-weight: 500;
    font-size: 20px;
}
#sendBtn:hover{
    background-color: black;
    color: #d7e8ee;
}
#reminderBtn{
    position: relative;
    left: 100px;
    bottom: 40px;
    padding: 2px 3px;
    margin: 3px 200px;
    width: 530px;
    height: 70px;
    background: #d7e8ee;
    border: 2px solid black;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    color: black;
    font-weight: 500;
    font-size: 20px;
}
#reminderBtn:hover{
    background-color: black;
    color: #d7e8ee;
}
#followupBtn{
    position: relative;
    bottom: 40px;
    padding: 2px 3px;
    margin: 3px 5px;
    width: 450px;
    height: 70px;
    background: #d7e8ee;
    border: 2px solid black;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    color: black;
    font-weight: 500;
    font-size: 20px;
}
#followupBtn:hover{
    background-color: black;
    color: #d7e8ee;
}
